<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <title><%= ProductName %></title>
</head>
<body>
    <% if (loggedin) { %>
        <%- include("partials/navbar loggedin.ejs") %>
       <% } else { %>
       <%- include("partials/navbar.ejs") %>
       <%} %>
    <div class="small-container">
        <div class="row">
            <div class="col-2">
              <img src="<%=ProductImage %>" width="100%">
            </div>
            <div class="col-2">
                <h1> <%= ProductName %> </h1> 
               <h4> <%= ProductPrice %> </h4>
               <label for="quantity">Quantity</label>
               <input type="number" value="1" name="quantity" id="quantity">
               <a href="/addingToBasket" class="btn">Add to Basket</a>
               <h3>Product Details</h3>
               <p><%= ProductLongDesc %></p> 
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>